*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 100vh;
  
}
 nav{
    background-color: rgb(255, 242, 244);
  
}
.navbar-brand img{
    height: 40px;
}
.nav-bar{
    padding:30px ;
}
.about-area{
    height: 500px;
    background-color: rgb(255, 242, 244);
}
 .card-img-top img{
     width: 100%;
 }
 .card-footer {
    border-top:0;
    margin-top: 0;
    background-color: white;
 }
 .btn1{
     padding: 10px 15px;
     font-size: 10px;
    color: white;
    background-color: #A4BC46;
 }
.btn1 img{
height: 20px;
padding-right: 5px;
}
.header-area .main-menu .nav-item .nav-link{
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 1.7rem;
}
.about-area .container .h1{
    color: #FABE4C;
  
}
.about-area .container .h2{
    color: #363958;
    
}
p{
    color: #3E3E3E;
}

 .about-image img {
     height: 300px;    
 }
 
 .card{

    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
 }
 .inner {
     margin: 20px;
    background-color: rgb(245, 243, 243);
    border-radius: 10px;
    
}
.inner img{
    height: 400px; 
}

.shop1{
    border-radius: 10px;
    background-color: rgb(223, 219, 219);
}
.card1{
    height: 200px;
    justify-content: center;
}
.card1 .text-center{
    align-items: center;
    margin-top: 20px;
}
.card1 img{
    height:70px ;
   
}
 .last{
     padding-top: 100px;
     padding-bottom: 100px;
 }
 .footer{
     height: 500px;
     background-color: black;
 }
.slider.carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}
